<div class="container my-5">
  <h2>Data Mahasiswa</h2>

  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image of Andi"
        />
        <div class="card-body">
          <h5 class="card-title">Andi</h5>
          <p class="card-text">NPM: 123456</p>
          <p class="card-text">Prodi: Sistem Informasi</p>
          <p class="card-text">Status: Mahasiswa Aktif</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image of Budi"
        />
        <div class="card-body">
          <h5 class="card-title">Budi</h5>
          <p class="card-text">NPM: 654321</p>
          <p class="card-text">Prodi: Teknik Informatika</p>
          <p class="card-text">Status: Mahasiswa Aktif</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          src="https://via.placeholder.com/150"
          class="card-img-top"
          alt="Image of Charlie"
        />
        <div class="card-body">
          <h5 class="card-title">Charlie</h5>
          <p class="card-text">NPM: 789012</p>
          <p class="card-text">Prodi: Teknik Komputer</p>
          <p class="card-text">Status: Mahasiswa Aktif</p>
        </div>
      </div>
    </div>
      
  </div>
</div>
